---
layout: layouts/base.liquid
eleventyComputed:
  # eleventyComputed is a special metadata type in 11ty, as it allows for using
  # templating functions within front matter data. In our use case, we have it
  # set to generate a title based on the page's filename if we didn't give it
  # one within the front matter data.
  # (https://www.11ty.dev/docs/data-computed/)
  title: "{% if title %}{{ title }}{% else %}Page {{ page.fileSlug }}{% endif %}"
  id: "{{ page.fileSlug }}"
---
<meta property="og:title" content="{{ id }}" />
{% comment %}
Beyond breaking pages into multiple components that can be included at will,
Liquid files can apply data from 11ty onto pages. For a full breakdown on using
tags and variables in Liquid, see https://liquidjs.com.

As a quick rundown for how this file works, we use the `unless` tag to display
content depending on if we have data, and the `render` tag includes another
Liquid file within the template.
{% endcomment %}

<div class="authorNotes">
  </br>
  <h1>{{ title }}</h1>
  {% render 'comic.liquid', collection: collections.comic, page: page, images: images, alt: alt, content: content %}
</div>
{%# If we have author notes, include them %}

<script>
  function getMetaContent(name) {
    const metas = document.getElementsByTagName('meta');
    return metas[metas.length-1].getAttribute('content');
    }

  var id = "{{ latest.data.id }}"
  var remark_config = {
    host: 'http://remark42.sqrk.party',
    url: getMetaContent('page'),
    site_id: 'creaturequest',
    components: ['embed', 'last-comments'],
    max_shown_comments: 100,
    theme: 'light',
    page_title: 'ramblings',
    locale: 'en',
    show_email_subscription: false,
    simple_view: false,
    no_footer: false
  }
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
<div class="ramblings"><h1>RAMBLINGS</h2></div>
<div id="remark42">Loading Ramblings...</div>
